services:
  coturn:
    mem_limit: 1g
    image: coturn/coturn:latest
    container_name: coturn
    user: "0:0"
    restart: unless-stopped
    stop_grace_period: 5s
    env_file: .env
    volumes:
      - ./coturn/entrypoint.sh:/entrypoint.sh:ro
      - ./certs:/certs:ro
    entrypoint: ["/entrypoint.sh"]
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "49160-49200:49160-49200/udp"
    networks:
      - webrtc


  kamailio:
    mem_limit: 1g
    image: ghcr.io/kamailio/kamailio:5.8.2-jammy
    container_name: kamailio
    restart: unless-stopped
    stop_grace_period: 5s
    env_file:
      - .env
    environment:
      - PBX_IP=${PBX_IP}
      - PBX_PORT=${PBX_PORT}
      - PBX_TRANSPORT=udp
      - KAM_PUBLIC_IP=${PUBLIC_IP}
    ports:
      - "8443:8443/tcp"
    volumes:
      - ./kamailio/kamailio.cfg:/etc/kamailio/kamailio.cfg:ro
      - ./kamailio/local.cfg:/etc/kamailio/local.cfg:ro
      - ./kamailio/tls.cfg:/etc/kamailio/tls.cfg:ro
      - ./certs:/certs:ro
    networks:
      - webrtc

  nginx:
    mem_limit: 1g
    image: nginx:alpine
    container_name: phone-nginx
    restart: unless-stopped
    stop_grace_period: 5s
    depends_on:
      - kamailio
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/phone.srve.cc.conf:/etc/nginx/conf.d/default.conf:ro
      - ./www:/var/www/phone:ro
      - ./certs:/certs:ro
    networks:
      - webrtc

networks:
  webrtc:
    driver: bridge
