#!KAMAILIO

# --- PBX target (FusionPBX) ---
#!define PBX_IP "testfusn.srve.cc"
#!define PBX_PORT "5060"

# --- SBC public IP (for advertise/alias) ---
#!define KAM_PUBLIC_IP "188.34.145.231"

# --- RTPengine socket (docker) ---
#!define RTPENGINE_SOCK "udp:rtpengine:2223"
